name: CI Процесс

on:
  push:
    branches:
      - develop
      - 'release/*'
  pull_request:
    branches:
      - develop
      - 'release/*'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Python 3.11 Тохируулах
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Cache pip packages
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - name: Dependencies суулгах
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8
    
    - name: Checkstyle Шалгах
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    
    - name: JUnit Тест ба JaCoCo Coverage Шалгах
      run: pytest test_login.py -v --cov=login --cov-branch --cov-fail-under=100 --cov-report=xml --cov-report=html --cov-report=term
    
    - name: JaCoCo Тайлан Үүсгэх
      run: pytest test_login.py --cov=login --cov-branch --cov-report=html --cov-report=term
      if: success()

